<!-- File: web/template/layouts/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block "title" .}}Base Title{{end}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="/static/css/style.css">-->

</head>
<body>
    <header>
        <h1>Minimal Base Header</h1>
        <hr>
    </header>
    <main>
        {{block "content" .}}
            <p>Base default content.</p>
        {{end}}
    </main>
    <footer>
        <hr>
        <p>Minimal Footer</p>
    </footer>
</body>
</html>

