<!-- File: web/template/layouts/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block "title" .}}The Serving Station{{end}}</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <header>
        <h1>
            <a href="/" style="text-decoration: none; color: inherit;">The Serving Station</a>
        </h1>
    </header>
    <main style="padding: 0 1em;">
        {{block "content" .}}
            <p>Default page content goes here if not overridden.</p>
        {{end}}
    </main>
    <footer style="margin-top: 30px; padding: 1em 1em; border-top: 1px solid #ccc; text-align: center; font-size: 0.9em; color: #666;">
        <p>&copy; {{ .CurrentYear }} My Recipe Site</p>
    </footer>
</body>
</html>

