{{/* File: web/template/partials/ingredients.html */}}
{{ define "ingredient-list" }}
<ul id="ingredients-list-items">
    {{ range . }}
        <template x-if="showMethods">
            <h3>{{ .Title }}</h3>
        </template>
        {{ range .Ingredients }}
            {{ if not .IsOptional }}
                <li>{{ formatQuantity .Quantity }} {{ .Unit }} {{ .FoodItem.Name }}{{ if .IsOptional }} (optional){{ end }}{{ if .Purpose }} - {{ .Purpose }}{{ end }}</li>
            {{ else }}
                <template x-if="showOptionals">
                     <li style="font-style: italic; color: #666;">{{ formatQuantity .Quantity }} {{ .Unit }} {{ .FoodItem.Name }} (optional){{ if .Purpose }} - {{ .Purpose }}{{ end }}</li>
                </template>
            {{ end }}
        {{ end }}
    {{ else }}
        <li>No ingredients listed.</li>
    {{ end }}
</ul>
{{ end }}

