{{/* File: web/template/partials/ingredients.html */}}
{{ define "ingredient-list" }}
<ul id="ingredients-list-items" class="list-disc pl-5 mt-0 font-sans leading-relaxed">
    {{ $recipe := .Recipe }}
    {{ range $index, $step := .Recipe.RecipeSteps }}

        <div class="mb-3 pl-7 pr-6 rounded-2xl transition-colors duration-150 ease-in-out"
                 :class="{ 'bg-accent-50 dark:bg-accent-700': hoveredStepId == {{ $step.ID }} }"
                @click="
                    hoveredStepId = (hoveredStepId == {{ $step.ID }}) ? null : {{ $step.ID }}
                    zenModeIndex = {{ $index }};"
    >
        {{ if $step.Ingredients }}
            <template x-if="showMethods">
                <h3 class="font-serif text-lg font-semibold mt-3 mb-1 text-slate-800 dark:text-slate-200">{{ $step.Title }}</h3>
            </template>
        {{ end }}
        {{ range $step.Ingredients }}

                {{ $ing := . }}
                    {{ if not $ing.IsOptional }}
                        <li class="font-sans leading-relaxed">{{ formatIngredient $ing $step.BaseServings $recipe.ID | printf "%s" }}</li>
                    {{ else }}
                        <template x-if="showOptionals">
                             <li class="italic text-slate-500 dark:text-slate-400">{{ formatIngredient $ing $step.BaseServings $recipe.ID | printf "%s" }}</li>
                        </template>
                    {{ end }}
        {{ end }}
        </div>
    {{ else }}
        <li class="list-none italic">No ingredients listed.</li>
    {{ end }}
</ul>
{{ end }}

