{{ define "select_steps_section" }}
    <div class="recipe-step-modifier-section"> 
         <h1 class="font-serif text-xl font-bold cursor-pointer mb-4 text-accent-900 dark:text-accent-100">
                Select Recipe Steps
        </h1>
        <div  class="mb-3">
            <div id="recipe-steps-modifier-container"
                hx-trigger="recipeUpdated from:window"
                hx-get="/render-recipe-steps/{{ .Recipe.ID }}"
                    >
                {{ template "select-recipe-steps" . }}
            </div>
        </div>

    </div>
    <hr class="my-6 border-slate-200 dark:border-slate-700">
{{ end }}
