{{ define "select-recipe-steps" }}
                {{ $recipe := .Recipe}}
                {{ range $index, $step := .RecipeStepsAll }}
                             <div class="my-0.5">
                        <h3 class="font-serif text-medium font-normal text-slate-800 dark:text-slate-200
                                inline-block
                                p-1 pl-4 pr-6 rounded-2xl cursor-pointer transition-opacity duration-150 ease-in-out border border-transparent" 
                         :class="{
                            'opacity-100 bg-accent-50 dark:bg-accent-700': activeStepIDs.includes({{ $step.ID }}),
                            'opacity-50 hover:opacity-100 hover:border-slate-300 dark:hover:border-slate-600': !activeStepIDs.includes({{ $step.ID }})
                         }"
                         @click="
                            const id = {{ $step.ID }};
                            const index = activeStepIDs.indexOf(id);
                            if (index > -1) {
                                activeStepIDs.splice(index, 1);
                            } else {
                                activeStepIDs.push(id);
                            }
                         "
                        x-init="$el.addEventListener('htmx:configRequest', (event) => {
                            event.detail.parameters.activeStepIDs = JSON.stringify(activeStepIDs); 
                        })"
                        hx-post="/update-servings-trigger/{{$recipe.ID}}"
                        hx-trigger="click delay:300ms" 
                        hx-include="[id='servings-options-{{ $recipe.ID }}'], [id='unit-system-select']"
                        hx-vals='js:{ "id": {{ $recipe.ID }} }'
                        hx-swap="none"
                            >
                         {{ $step.Title }}
                     </h3>

                        </div>
                {{ end }}
{{ end }}
