{{ define "select-recipe-steps" }}
                {{ $recipe := .Recipe}}
                {{ range $index, $step := .RecipeStepsAll }}
                             <div class="my-0.5">
                        <h3 class="font-serif text-medium font-normal text-slate-800 dark:text-slate-200
                                inline-block
                                p-1 pl-4 pr-6 rounded-2xl cursor-pointer transition-opacity duration-150 ease-in-out border border-transparent hover:border-slate-300 dark:hover:border-slate-600" 
                         :class="{
                            'opacity-100 bg-accent-50 dark:bg-accent-700 hover:bg-accent-100': {{ containsInt64 $recipe.RecipeStepIds $step.ID }},
                            'opacity-50 hover:opacity-100 ...': !{{ containsInt64 $recipe.RecipeStepIds $step.ID }}
                         }"
                        hx-post="/update-recipe-steps-trigger/{{$recipe.ID}}"
                        hx-trigger="click delay:150ms" 
                        hx-vals='{ "id": {{ $recipe.ID }}, "step-id": {{ $step.ID }} }'
                        hx-swap="none"
                            >
                         {{ $step.Title }}
                     </h3>
                        </div>
                {{ end }}
{{ end }}
